.table__row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #242625;
    color: #cacccb;

    width: 100%;

    border-bottom: 1px solid #323433;
}

.table__row:last-child {
    border-bottom: 0;
}

.table__cell {
    padding: 8px;
    flex-grow: 1;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-self: stretch;
    height: initial;
    text-align: center;
    overflow-x: hidden;

    border-left: 1px #323433 solid;
}

.table__cell:first-child {
    border-left: 0;
}

.table__row > .table__cell:nth-child(1) {
    font-weight: bold;
    width: 10%;
    color: #3acab5;
    background-color: #151515;
}

.table__row > .table__cell:nth-child(2) {
    width: 30%;
}

.table__row > .table__cell:nth-child(3) {
    width: 30%;
}

.table__row > .table__cell:nth-child(4) {
    width: 30%;
}

.moreButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 5px;
    width: 45px;
    height: 20px;
}

.activeRow {
}

.doneRow {
    background-color: #495B6F;
}