.table__row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;

    border-bottom: 1px solid black;
}

.table__row:last-child {
    border-bottom: 0;
}

.table__cell {
    flex-grow: 1;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-self: stretch;
    height: initial;
    text-align: center;

    border-left: 1px black solid;
}

.table__cell:first-child {
    border-left: 0;
}

.table__row > .table__cell:nth-child(1) {
    width: 10%;
}

.table__row > .table__cell:nth-child(2) {
    width: 30%;
}

.table__row > .table__cell:nth-child(3) {
    width: 30%;
}

.table__row > .table__cell:nth-child(4) {
    width: 30%;
}

.moreButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 5px;
    width: 45px;
    height: 20px;
}

.activeRow {
}

.doneRow {
    background-color: lightgreen;
}