.table {
    border: #323433 1px solid;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    max-width: 960px;
}

.table__header {
    font-weight: bold;
}